#shop {
  width: 80%;
}

#shop {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#shop {
  border-style: solid;
  border-color: black;
}

#afterschool {
  margin: 5%;
  font-size: 2vw;
  line-height: 200%;
} 