#creed {
  line-height: 200%;
  font-size: 2vw;
}

#hope {
  width: 90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  
}

#hope {
  margin: 5%;  
  margin-top: 0;
} 

#hope {
  border-style: solid;
  border-color: black;
}

#hope {
  margin-top: 0;
  padding: 0;
} 

